@tailwind base;
@tailwind components;
@tailwind utilities;

.speech-bubble {
  position: absolute;
  background: white;
  border: 1px solid black;
  border-radius: 0.2em;
  padding: 0.1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.speech-bubble:after,
.speech-bubble:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border: 5px solid transparent;
  border-bottom: 0;
  margin-left: -5px;
}

.speech-bubble:after {
  z-index: 1;
  border-top-color: white;
  margin-bottom: -5px;
}

.speech-bubble:before {
  z-index: 1;
  border-top-color: black;
  margin-bottom: -6px;
}
